/**
 * Copyright 2017 appero GmbH
 * All rights reserved.
 *
 * creationDate: Dec 19, 2016
 * author: hschmidt
 */
.THIS .container {
    margin: 10px 10px 10px 10px;
}

.THIS table {
    width: 100%;
}

.THIS th, .THIS td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;
}

